<div class='content'>
	<section id='headlines'>
		<h1>Top Shitty Headlines, <%= @today.strftime("%B #{@today.day.ordinalize}, %Y") %></h1>
		<% @categories.each do | cat | %>
			<div class='category'>
				<h2><%= cat.title %></h2>
				<% cat.articles.where('created_at < ?', @today).order('id DESC').limit(5).each do | article | %>
					<%= render :partial => "shared/post", locals: ({article: article}) %>
				<% end %>
			</div>
		<% end %>
	</section>

	<section id='top-story'>
		<h1>Super Shitty News</h1>
		<div class='top-story-photo' style='background-image: url(<%= @topHeadline[0].photo.url %>)'>
			<div class='top-story-headline'><%= @topHeadline[0].title %></div>
		</div>
		<div id='others'>
			<h1>Other headlines:</h1>
			<% $i = 0 %>
			<% @categories.each do | cat | %>
				<div class='cat'>
				<h1><%= cat.title %></h1>
				<% cat.articles.where('created_at < ?', @today).order('id DESC').offset(5).limit(5).each do | article | %>
					<div class='other-news'>
						<h2><%= article.title %></h2>
					</div>
				<% end %>
				</div>
				<% if $i == 2 %>
				<div class='top-story-photo' style='background-image: url(<%= @topHeadline[1].photo.url %>)'>
					<div class='top-story-headline'><%= @topHeadline[1].title %></div>
				</div>
				<% end %>
				<% $i += 1 %>
			<% end %>
		</div>
		<div id='wut'>
			<h1>WTF is this thing?</h1>
			<div>
			Shitty.news is a shitty robot that scrapes RSS feeds of news organizations around the world and creates <a href='https://en.wikipedia.org/wiki/Markov_chain' target='_blank'>Markov Chains</a> out of the headlines by category. They are completely random parings of headlines. Every 3 hours the bot scrapes for new stories for the day and creates a random new set of headlines.<br/><br/>
			Created by: <a href='https://twitter.com/meusPartum' target='_blank'>Drew Dahlman</a><br/>
			Source Code: <a href='https://github.com/DrewDahlman/shitty_news' target='_blank'>Github</a>
			</div>
		</div>
	</section>
</div>