<div class='content'>
	<section id='headlines'>
		<h1>Top Shitty News, <%= @today.strftime("%B #{@today.day.ordinalize}, %Y") %></h1>
		<% @categories.each do | cat | %>
			<div class='category'>
				<h2><%= cat.title %></h2>
				<% cat.articles.where('created_at < ?', @today).order('id DESC').limit(5).each do | article | %>
					<%= render :partial => "shared/post", locals: ({article: article}) %>
				<% end %>
			</div>
		<% end %>
	</section>

	<section id='top-story'>
		<div class='top-story-photo' style='background-image: url(<%= @topHeadline.photo.url %>)'>
			<div class='top-story-headline'><%= @topHeadline.title %></div>
		</div>
	</section>
</div>