<!DOCTYPE html>
<html>
<head>
  <title>Shitty News Network</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "shared/header" %>
	
	<%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
